<!DOCTYPE html>
<html>
  <head>
    <title>
      Dream Careers
    </title>
    <style>
      h1{
        text-align: center;
        color:rgb(80,80,80)
      }
      h2{
        text-align:center;
        color:rgb(80,80,80);

      }
      .background{
        display: block;
        margin-left:auto;
        margin-right:auto;
        width:100%;
        height:360px;
        
      }
      .contactbutton{
        display:block;
        margin:auto;
        object-fit:auto;
      }
      #container{
        max-width:720px;
        margin:0 auto;
      }
      
    </style>
  </head>
  <body>
    <div id ="container">
      <h1>Dream Careers</h1>
      <img src = "https://3d156296-44b6-43eb-b595-78203310dc06-00-23vng8g1zly46.pike.replit.dev/static/background.jpg", class="background">
      <h2>
        About Dream Careers
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque lacinia convallis. Aenean commodo ultrices tempor. Aenean scelerisque egestas bibendum. Nunc eget diam nulla. Cras congue, est et posuere vestibulum, elit neque vulputate nibh, sollicitudin semper erat odio ut diam. Duis scelerisque neque vitae diam feugiat vehicula. Duis in turpis sed est dignissim volutpat. Nam ut cursus dui. Aliquam iaculis tellus quis sem porttitor, in auctor sem mattis. Fusce tempor vitae lorem id semper. Donec accumsan massa non nulla cursus accumsan.
      </p>
      <h2>
        Open Positions
      </h2>
      <p>
        TODO - Show the jobs here
      </p>
      <button class='contactbutton'>Contact Us</button>
    </div>
    
  </body>
</html>